# Rename this file to env
# Add account settings and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry gets set as a local environment variable.
# This file overrides ENV variables in the Unix shell.
# For example, setting:
# USERNAME='Username'
# makes 'Username' available as ENV["USERNAME"]
APP_HOST='app_host'
API_HOST='api_host'
SYS_NAME='sys_name'
IDP='idp'
QA_TEST={ username:'username', password:'password' }
TOKEN='Token'